body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://st4.depositphotos.com/1741969/29457/i/600/depositphotos_294571810-stock-photo-blackground-of-abstract-glitter-lights.jpg);
    background-size: cover;
}

.wrapper {
    display: flex;
    gap: 20px;
    width: 1000px;
    max-width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: min-content;
}

.sidebar button {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background 0.3s, color 0.3s;
}

.sidebar button:hover {
    background-color: #495057;
}

.sidebar button.active {
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
    border-left: 5px solid #ffffff;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.807);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 100vh;
    opacity: 1;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    color: #000000;
}

.content-body {
    padding-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button.save-button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button.save-button:hover {
    background-color: #218838;
}

button.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button.delete-button:hover {
    background-color: #c82333;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}
