/* Container and Layout */
body {
    color: white;
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Rental and User Details Containers */
.rental-details-container,
.user-details-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 5px 30px rgba(172, 237, 237,0.5);
    background-color: #212121;
    color: white;
}

/* Form Styles */
.rental-form {
    width: 100%;
}

.rental-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; /* Changed to white */
    margin-left: px;
}

.rental-form input[type="text"],
.rental-form input[type="email"],
.rental-form input[type="tel"],
.rental-form input[type="datetime-local"],
.rental-form select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 200px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
}

/* Button Styles */
.rental-form button,
.user-details-container button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rental-form button:hover{
    background-color: white;
    color: #333;
}


.rentButton{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 75px;
    height: 40px;
    transition: background-color 0.3s;
    border-radius: 100px;
    margin-left: 130px;

}

.rentButton:hover{
    background-color: white;
    color: black;
}


a{
    color: white;
}
a:hover{
    color: black;
}



a{
    text-decoration: none;
}

/* Rental Cost Container */
.rental-cost-container,
.user-details-container {
    display: none;
}

.rental-cost-container h3,
.user-details-container h3 {
    color: #fff; /* Changed to white */
}

.rental-cost-container p,
.user-details-container p {
    font-size: 16px;
    color: #fff; /* Changed to white */
    margin: 20px 0;
    padding: 5px 0;
    font-weight: bold;

}

/* General Styles */
p {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: white;
}

.error {
    color: red;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .rental-details-container,
    .user-details-container {
        width: 90%;
    }
}
